@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

@font-face {
  font-family: "HP";
  src: url("../assets/Fonts/parry-hotter/ParryHotter.ttf");
}

:root {
  --tipo-title: "HP", "Roboto", sans-serif;
  --tipo-text: "Yusei Magic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 3rem;
  padding-top: 50px;
}

h3 {
  font-size: 2.5rem;
}

body {
  font-family: "HP";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../assets/images/hp.jpg);
}

header {
  background-color: #343a40;
  color: white;
  height: 80px;
  font-size: 25px;
  padding: 0.5em 0;
  max-width: 100%;
  font-family: var(--tipo-title);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  text-align: center;
  padding: 50px 80px 80px 50px;
}

/* Intro */

.intro {
  padding: 20px 20px;
  width: 50%;
  margin: 0;
  margin: 0 auto;
}

.intro h1 {
  font-size: 3rem;
}

.intro p {
  font-size: 1.5rem;
  font-family: var(--tipo-text);
  padding: 20px;
}

/* Casas */

.container-casas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.casas-card {
  width: 70vw;
  height: 500px;
  display: flex;
  background-color: #ffffffb9;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
}

.casas-card p {
  font-family: var(--tipo-text);
  text-align: justify;
}

.casas-card img {
  max-height: 500px;
  max-width: 500px;
  border-radius: 10px;
  margin: 0 50px;
}

/* Hechizos */

.container-hechizos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 50px;
}

.hechizos-card {
  width: 80%;
  height: 400px;
  justify-content: space-evenly;
  background-color: #ffffffb9;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  align-items: center;
}

.hechizos-cardContent {
  padding: 50px;
}

.hechizos-cardContent h3 {
  font-size: 2rem;
}

.hechizos-cardContent p {
  font-size: 1rem;
  font-family: var(--tipo-text);
  text-align: justify;
  padding: 0 50px;
}

/* Personajes */

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 50px;
  width: 300px;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  background-color: #ffffffb9;
}

.grid .card img {
  max-height: 230px;
  max-width: 230px;
  border-radius: 6px;
}

.card-name {
  font-size: 1.8rem;
}

.card-gender,
.card-actor {
  font-family: var(--tipo-text);
  padding: 0 20px 25px 20px;
  font-size: 1.1rem;
}

/* Footer */

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 0.8rem 0;
  font-size: 1.3rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: var(--tipo-title);
}

footer p {
  padding-top: 10px;
}

.characters {
  padding: 0 300px;
}

.characters h1 {
  font-size: 3rem;
}

/* Móvil */
@media only screen and (min-width: 425px) and (max-width: 768px) {
  main,
  .intro,
  .casas-hogwarts,
  .hechizos {
    padding: 0;
  }

  /* Intro */

  .intro {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro h1 {
    font-size: 2.5rem;
    margin-top: 40px;
    padding: 20px 40px;
  }

  .intro p {
    font-size: 1.3rem;
    width: 80%;
    padding-top: 20px;
  }

  /* Casas */

  .casas-hogwarts h2 {
    font-size: 2rem;
    padding-bottom: 30px;
  }

  .casas-card {
    height: auto;
    width: 80%;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .casas-card img {
    margin-top: 50px;
  }

  .card-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
  }

  .card-content h3 {
    font-size: 1.5rem;
  }

  /* Hechizos */
  .container-hechizos {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 150px;
  }

  .hechizos-card {
    height: auto;
  }

  .hechizos-cardContent {
    padding: 0;
  }

  /* Personajes */
  .characters {
    padding: 0;
  }

  .characters h1 {
    padding-top: 40px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 0;
  }
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  main,
  .intro,
  .casas-hogwarts,
  .hechizos {
    padding: 0;
  }

  /* Intro */
  .intro {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro h1 {
    font-size: 2.5rem;
    margin-top: 40px;
    padding: 20px 40px;
  }

  .intro p {
    font-size: 1.3rem;
    width: 80%;
    padding-top: 20px;
  }

  /* Casas */
  .casas-card {
    height: auto;
    width: 80%;
    padding: 30px;
    margin: 0;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  /* Hechizos */
  .container-hechizos {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 100px;
  }

  .hechizos-card {
    width: 80%;
    height: auto;
  }

  .hechizos-cardContent p {
    padding: 20px;
  }

  .hechizos-cardContent h3 {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  /* Personajes */
  .grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0;
  }

  .characters {
    padding: 0;
  }

  .characters h1 {
    padding-top: 0;
  }

  .grid .card {
    margin: 0;
  }
}

/* Tablet landscape */

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  main,
  .intro,
  .casas-hogwarts,
  .hechizos {
    padding: 0;
  }

  /* Intro */
  .intro {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro h1 {
    font-size: 2.5rem;
    margin-top: 40px;
    padding: 20px 40px;
  }

  .intro p {
    font-size: 1.3rem;
    width: 80%;
    padding-top: 20px;
  }

  /* Casas */
  .casas-card {
    height: auto;
    width: 80%;
    padding: 30px;
    margin: 0;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  /* Hechizos */
  .container-hechizos {
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
  }

  .hechizos-card {
    width: 80%;
    height: auto;
  }

  .hechizos-cardContent p {
    padding: 20px;
  }

  .hechizos-cardContent h3 {
    font-size: 1.5rem;
    padding-top: 30px;
  }

  /* Personajes */
  .grid {
    justify-content: center;
    margin: 0;
  }

  .characters {
    padding: 0;
    margin: 0;
  }

  .characters h1 {
    padding-top: 0;
  }

  .grid .card {
    margin: 0;
  }
}

/* Laptop */

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  .hechizos-card {
    height: auto;
  }

  /* Personajes */
  .characters {
    padding: 0;
  }

  .characters h1 {
    padding-top: 40px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0;
  }
}
