@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

@font-face {
  font-family: "HP";
  src: url("../assets/Fonts/parry-hotter/ParryHotter.ttf");
}

:root {
  --tipo-title: "HP", "Roboto", sans-serif;
  --tipo-text: "Yusei Magic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "HP";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../assets/images/hp.jpg);
}

header {
  background-color: #343a40;
  color: white;
  height: 80px;
  font-size: 25px;
  padding: 0.5em 0;
  max-width: 100%;
  font-family: var(--tipo-title);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  text-align: center;
  padding: 50px 80px 80px 50px;
}

/* Intro */

.intro {
  padding: 20px 20px;
  width: 50%;
  margin: 0;
  margin: 0 auto;
}

.intro h1 {
  font-size: 3rem;
}

.intro p {
  font-size: 1.5rem;
  font-family: var(--tipo-text);
  padding: 20px;
}

/* Cards */

.grid,
.casas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding-bottom: 50px;
}

.casas {
  grid-template-columns: repeat(2, 1fr);
}

.grid .card,
.casas .casas-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 50px;
  width: 300px;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 7px 10px 31px -8px rgba(0, 0, 0, 0.73);
  background-color: #ffffffb9;
}

.casas .casas-card {
  width: 600px;
  height: 900px;
  padding: 50px;
}

.casas h3 {
  font-size: 2.8rem;
}

.casas-card p {
  font-family: var(--tipo-text);
  padding: 20px;
  text-align: justify;
}

.grid .card img {
  max-height: 230px;
  max-width: 230px;
  border-radius: 6px;
}

.casas img {
  max-height: 500px;
  max-width: 500px;
  border-radius: 10px;
}

.card-name {
  font-size: 1.8rem;
}

.card-gender,
.card-actor {
  font-family: var(--tipo-text);
  padding: 0 20px 25px 20px;
  font-size: 1.1rem;
}

/* Footer */

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 0.8rem 0;
  font-size: 1.3rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: var(--tipo-title);
}

footer p {
  padding-top: 10px;
}

.characters {
  padding: 0 300px;
}

.characters h1 {
  font-size: 3rem;
}

/* Móvil */
@media only screen and (min-width: 425px) and (max-width: 768px) {
  main {
    padding: 0;
  }

  .characters {
    padding: 0;
  }

  .characters h1 {
    padding-top: 40px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 0;
  }
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0;
  }

  .characters {
    padding: 0;
  }

  .characters h1 {
    padding-top: 0;
  }

  .grid .card {
    margin: 0;
  }
}

/* Tablet landscape */

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .grid {
    justify-content: center;
    margin: 0;
  }

  .characters {
    padding: 0;
    margin: 0;
  }

  .characters h1 {
    padding-top: 0;
  }

  .grid .card {
    margin: 0;
  }
}

/* Laptop */

@media only screen and (min-width: 1367px) and (max-width: 1600px) {
  .grid {
    justify-content: center;
    margin: 0;
  }

  .characters {
    padding: 0;
    margin: 0;
  }

  .characters h1 {
    padding-top: 0;
  }

  .grid .card {
    margin: 0;
  }
}
